<div class="container mt-4">

  <!-- Header -->
  <div class="d-flex justify-content-between align-items-center mb-3">

    <h2>Employee List</h2>

<button
  class="btn btn-primary"
  (click)="openDialog()">
  Add Employee
</button>

  </div>

  <!-- AG Grid -->
  <ag-grid-angular
    style="width: 100%; height: 500px;"
    [rowData]="employees"
    [columnDefs]="columnDefs">
  </ag-grid-angular>

</div>

<app-employee-dialog
  *ngIf="showDialog"
  [employeeData]="selectedEmployee"
  [isEditMode]="isEditMode"
  (employeeAdded)="addEmployee($event)"
  (employeeUpdated)="updateEmployee($event)"
  (dialogClosed)="closeDialog()">
</app-employee-dialog>